@use "./colors.scss";
@use "../tokens.scss";

.header {
  isolation: isolate;
  position: relative;
  background-image: url("/eliestetica/background.jpeg");
  background-size: cover;
  &::before {
    content: "";
    z-index: -1;
    background: colors.$green-light;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40rem;
    mask-image: url("/eliestetica/background_mask.svg");
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: 100% 100%;
  }
  .container {
    text-align: center;
    height: 100vh;
  }
  .prototype {
    margin-inline: auto;
    margin-top: tokens.$space-6;
    max-height: 60vh;
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}

.sobre {
  .image {
    width: 30vw;
    max-width: 20rem;
    height: auto;
    float: right;
    margin-left: tokens.$space-8;
    margin-right: 0;
    transform: rotate(-8deg);
  }
}

.processo {
  display: flow-root;
  .container {
    padding-bottom: 0;
  }
  h3 {
    text-decoration: none;
  }
  .glyph-wrapper {
    margin-block: tokens.$space-10;
    padding-inline: tokens.$space-5;
  }
  .post-it-wrapper {
    padding: 2rem;
    justify-content: center;
    align-items: stretch;
    height: 15rem;
    --gap: #{tokens.$space-8};
  }
  .decoration {
    width: 100vw;
    height: auto;
    float: left;
  }
}
