@use "./colors.scss";
@use "../tokens.scss";

body {
  font-family: "Reem Kufi Variable", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  color: colors.$text;
}

big {
  --fluid-typography-min: 1.25rem;
  --fluid-typography-max: 2rem;
  font-size: 2rem;
  hyphens: none;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  color: colors.$text;
  line-height: 1.25;
  margin-bottom: tokens.$space-4;
  hyphens: auto;
  text-align: center;
}

.info {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  color: colors.$text;
  text-transform: uppercase;
  line-height: 1.6;
  margin-top: tokens.$space-7;
  margin-bottom: tokens.$space-5;
  font-weight: 600;
  font-size: 2rem;
  hyphens: auto;
}

h3 {
  color: colors.$text;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 2px;
  text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
  line-height: 1.6;
  margin-top: tokens.$space-8;
  margin-bottom: tokens.$space-7;
  font-size: 1.75rem;
  font-weight: 600;
  hyphens: auto;
}

ul {
  padding-left: 2ch;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.4;
  margin-top: tokens.$space-7;
  margin-bottom: tokens.$space-5;
  font-weight: 500;
  hyphens: auto;
}

h5 {
  font-size: 1.4rem;
}

p {
  hyphens: auto;
  margin-bottom: tokens.$space-4;
}

strong {
  font-weight: 600;
}

mark {
  background: none;
  font-weight: 800;
}

blockquote {
  text-wrap: pretty;
  margin-bottom: tokens.$space-8;
}

iframe {
  width: 100%;
  border: none;
}

section {
  display: flow-root;
}
