@use "sass:color";
@use "./colors.scss";
@use "../tokens.scss";

.bg-green-light {
  background-color: colors.$green-light;
}

.bg-green-medium {
  background-color: colors.$green-medium;
}

.bg-green-dark {
  background-color: colors.$green-dark;
}

.bg-pink-light {
  background-color: colors.$pink-light;
}

.bg-pink-medium {
  background-color: colors.$pink-medium;
}

.bg-pink-dark {
  background-color: colors.$pink-dark;
}

.bg-text {
  background-color: colors.$text;
}

// ----

.color-green-light {
  color: colors.$green-light;
}

.color-green-medium {
  color: colors.$green-medium;
}

.color-green-dark {
  color: colors.$green-dark;
}

.color-pink-light {
  color: colors.$pink-light;
}

.color-pink-medium {
  color: colors.$pink-medium;
}

.color-pink-dark {
  color: colors.$pink-dark;
}

// ---

.shadow-pink-dark {
  box-shadow: 0.5rem 0.5rem color.change(colors.$pink-dark, $alpha: 0.4);
}

// ---

.page {
  width: 100%;
  min-height: 100dvh;
  overflow-x: clip;
}

.container {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: tokens.$space-6;
  padding-block: tokens.$space-8;
}

// ---

.hide-sm-screen {
  @include tokens.on-sm-screen {
    display: none;
  }
}

.show-sm-screen {
  display: none;
  @include tokens.on-sm-screen {
    display: unset;
  }
}

// ---

.padding-block {
  padding: tokens.$space-6;
  border-radius: tokens.$space-5;
}

.flex {
  display: flex;
  gap: var(--gap, #{tokens.$space-5});
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, #{tokens.$space-5});
}

.triple-column {
  display: grid;
  gap: tokens.$space-6;
  grid-template-columns: repeat(3, minmax(16rem, 1fr));
  @include tokens.on-md-screen {
    grid-template-columns: repeat(2, minmax(16rem, 1fr));
    > *:last-child {
      grid-column: span 2;
      max-width: 50%;
      margin: auto;
    }
  }
  @include tokens.on-sm-screen {
    grid-template-columns: 1fr;
    > *:last-child {
      grid-column: unset;
      max-width: unset;
    }
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-auto-flow: dense;
  @include tokens.on-sm-screen {
    grid-template-columns: 1fr;
  }
}

.full-width {
  width: 100%;
  height: auto;
}

.flex-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: tokens.$space-5;
}
