---
import '@fontsource/poppins/500';
import Layout from '@layouts/Layout.astro';

import '@styles/reset.scss';
import '@styles/vivant/typography.scss';
import '@styles/vivant/utilities.scss';
---

<Layout title="Vivant Restaurante">
  <h1>Psiconect</h1>
  <p><big>Tornando o Atendimento Psicológico Online Mais Acessível.</big></p>
</Layout>
