---
import '@fontsource/poppins/500';
import Layout from '@layouts/Layout.astro';
import '@styles/psiconect/index.scss';

import PsiconectLogo from '@assets/psiconect/logo.svg';
import { Picture } from 'astro:assets';

import header from '@assets/psiconect/header.png';
---

<Layout title="Psiconect">
  <header class="header page bg-neutral">
    <div class="hero-container">
      <div class="box">
        <h1><PsiconectLogo class="logo" /> PsiConect</h1>
        <p class="subtitle">
          <big class="fluid color-main">
            Tornando o atendimento psicológico online mais acessível.
          </big>
        </p>
        <ul class="flex-list">
          <li class="fluid tag color-main">UX/UI Design</li>
          <li class="fluid tag color-main">Danilo Reis</li>
        </ul>
      </div>
      <div class="hero bg-dots">
        <Picture
          class="hero__image"
          alt="Coleção de telas do psiconect."
          src={header}
        />
      </div>
    </div>
  </header>
  <section class="page bg-neutral">
    <div class="hero-container">
      <div class="hero"></div>
      <div class="box">
        <h2>O Projeto</h2>
        <p>
          <mark>Psiconect</mark> é uma plataforma digital fictícia que conecta pacientes
          a profissionais de psicologia por meio de um aplicativo e site. Seu objetivo
          é <strong>facilitar o acesso</strong> a consultas psicológicas online,
          oferecendo um agendamento intuitivo, seguro e acessível.
        </p>
        <p>
          A proposta surgiu da necessidade de <strong>reduzir barreiras</strong>
          no processo de busca por atendimento psicológico, tornando-o mais prático
          e inclusivo.
        </p>
      </div>
    </div>
  </section>
</Layout>
