@use './colors.scss';
@use '@styles/tokens.scss';

.header {
  color: colors.$neutral-light;
  position: relative;
  overflow: clip;

  .container {
    display: grid;
    grid:
      '. .' 1fr
      'text image' min-content
      '. image' 1fr / 1.2fr 0.7fr;
    align-items: flex-start;
    column-gap: tokens.$space-4;
    overflow: visible;
    padding-block: 0;
  }

  .image {
    grid-area: image;
    position: relative;
    container: Image / size;
    align-self: stretch;
    margin-top: tokens.$space-4;
    img {
      position: absolute;
      height: 100%;
      width: auto;
      aspect-ratio: 706 / 1003;
      left: 0;
      top: 0;
      max-width: unset;
      @container Image (max-height: 15rem) {
        display: none;
      }
    }
  }

  .text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    padding-block: tokens.$space-4;
  }

  @media (max-aspect-ratio: 8 / 10) {
    .container {
      grid:
        'text' min-content
        'image' / 1fr;
    }
    .image {
      img {
        left: unset;
        right: 0;
        height: 100%;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-bottom: tokens.$space-7;
    > * {
      display: block;
      height: 1em;
    }
    .app {
      font-size: 1.5rem;
      font-weight: 200;
    }
    .restaurante {
      font-size: 0.5em;
    }
  }

  h2 {
    font-weight: 300;
  }
  .tags {
    --list-gap: #{tokens.$space-4};
    margin-bottom: tokens.$space-9;
    li {
      padding-inline: tokens.$space-4;
      padding-top: calc(tokens.$space-2 + 0.4em);
      padding-bottom: tokens.$space-2;
      line-height: 1;
      border: 1px solid colors.$neutral-light;
      border-radius: tokens.$space-4;
    }
  }
  .author {
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.projeto {
  counter-reset: desafio;
  .ferramentas {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  .grade {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    display: grid;
    row-gap: tokens.$space-4;
    column-gap: tokens.$space-12;
  }
  .desafios {
    margin-top: tokens.$space-6;
  }
  .desafio {
    padding: tokens.$space-5;
    position: relative;
    &::before {
      content: counter(desafio);
      counter-increment: desafio;
      width: 3rem;
      height: 3rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: colors.$main;
      border-radius: 50%;
      font-size: 1.5em;
      color: colors.$neutral-light;
      padding-top: 0.7ex;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-40%, -40%);
    }
  }
}

.fluxo {
  img {
    width: 100%;
    height: auto;
  }
}

.pesquisa {
  h2:first-child {
    color: rgba($color: #000000, $alpha: 0.2);
  }
  h3 {
    color: colors.$accent;
  }
  .problemas {
    counter-reset: problemas;
    flex-direction: column;
    margin-top: tokens.$space-6;
  }
  .problema {
    --outline-color: #{colors.$accent};
    counter-increment: problemas;
    display: grid;
    grid-template-columns: 1fr 6rem 1fr;
    gap: tokens.$space-4;
  }
  .problema svg {
    color: colors.$accent;
    place-self: center;
    width: 2rem;
    height: 2rem;
  }
  @media (max-width: 40rem) {
    .problemas {
      gap: calc(3 * tokens.$space-6);
    }
    .problema {
      grid-template-columns: 1fr;
    }
    .problema svg {
      transform: rotate(90deg);
    }
  }
  .problema p {
    margin-bottom: 0;
    padding: tokens.$space-5;
    position: relative;
    &:first-child:before {
      content: counter(problemas);
      width: 3rem;
      height: 3rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: colors.$accent;
      border-radius: 50%;
      font-size: 1.5em;
      color: colors.$main;
      padding-top: 0.7ex;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-40%, -40%);
    }
  }
}

.table-wrapper {
  width: 100%;
  overflow-y: auto;
  border: 1px solid colors.$accent;
  border-radius: tokens.$space-4;
  scrollbar-color: colors.$main colors.$accent;
  background: linear-gradient(to right, colors.$main, transparent) left,
    linear-gradient(to left, colors.$main, transparent) right,
    linear-gradient(to right, hsl(0deg 0% 0% / 15%), transparent) left,
    linear-gradient(to left, hsl(0deg 0% 0% / 15%), transparent) right;
  background-repeat: no-repeat;
  background-size: 4rem 100%, 4rem 100%, 2rem 100%, 2rem 100%;
  background-attachment: local, local, scroll, scroll;
}

.caption {
  text-align: left;
  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.jornada {
  min-width: 76rem;
  border-collapse: collapse;
  th {
    color: colors.$accent;
  }
  th,
  td {
    text-align: left;
    vertical-align: top;
    border: 1px solid colors.$accent;
    padding-inline: tokens.$space-4;
    padding-block: tokens.$space-3;
  }
  th:first-child {
    border-left: 0;
  }
  :is(td, th):last-child {
    border-right: 0;
  }
  tr:first-child th {
    border-top: 0;
  }
  tbody tr:last-child :is(td, th) {
    border-bottom: 0;
  }
  ul,
  ol {
    padding-left: 2ch;
  }
  .emoji {
    font-size: 2rem;
  }
}
.desenvolvimento {
  background: colors.$accent;
  .wireframes {
    list-style-type: none;
    padding-left: 0;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    display: grid;
    gap: tokens.$space-4;
    img {
      width: 100%;
      height: auto;
    }
  }
  .estudos {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    display: grid;
    row-gap: tokens.$space-4;
    column-gap: tokens.$space-12;
    .estudo {
      padding: tokens.$space-5;
      border-radius: tokens.$space-5;
      border: 4px solid colors.$main;
      position: relative;
      margin-block: tokens.$space-6;
      padding-top: tokens.$space-7;
      ul {
        padding-left: 2ch;
      }
      .titulo {
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
        border: 4px solid colors.$main;
        color: colors.$main;
        padding-inline: tokens.$space-3;
        padding-top: tokens.$space-2;
        padding-bottom: tokens.$space-1;
        border-radius: tokens.$space-5;
        background: colors.$accent;
        padding-left: 3rem;
        transform: translate(-10%, -50%);
        text-transform: uppercase;
      }
      .numero {
        width: auto;
        height: 100%;
        aspect-ratio: 1;
        background: colors.$main;
        color: colors.$accent;
        border-radius: 50%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        padding-top: 4px;
        left: 0;
        top: 0;
        transform: scale(1.05);
      }
    }
  }
  .mockups {
    flex-direction: column;
    align-items: center;
    margin-block: tokens.$space-4;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.elementos-visuais {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  display: grid;
  gap: tokens.$space-8;
  svg {
    max-width: 100%;
    height: auto;
  }
  .cores {
    grid-row: span 2;
  }
  .logo svg {
    max-width: 20rem;
  }
  .cor {
    height: 2rem;
    width: 6rem;
    border: 1px solid colors.$neutral-dark;
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: tokens.$space-6;
    row-gap: tokens.$space-4;
    border-radius: tokens.$space-2;
  }
  :is(.tipografias, .botoes, .cores) {
    --list-gap: #{tokens.$space-4};
  }
  .tipografia {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
    line-height: 1;
  }
  button {
    padding-top: tokens.$space-2;
    padding-inline: 1.25rem;
    border-radius: 0.8rem;
    border: none;
    background: colors.$main;
    color: colors.$neutral-light;
    &.light {
      background: colors.$neutral-light;
      color: colors.$main;
      box-shadow: 0 0 0px 1px colors.$main;
    }
    &.round {
      padding-inline: 0;
      aspect-ratio: 1;
      width: auto;
      height: 2.25rem;
      border-radius: 50%;
    }
    &.select {
      color: colors.$neutral-dark;
      background: colors.$neutral-light;
      display: flex;
      gap: 0.5ch;
      padding-inline: 0.2rem;
      padding-top: 0.4rem;
      width: 10rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 0px 1px colors.$neutral-dark;
    }
  }
}

.conclusao {
  line-height: 1.6;
  .container {
    overflow: hidden;
    display: grid;
    grid:
      'aprendizado aprendizado' min-content
      'etapas imagem' 1fr / 3fr 1fr;
    @media (max-width: 40rem) {
      grid:
        'aprendizado' min-content
        'etapas'
        'imagem' / 1fr;
    }
  }
  .aprendizado {
    grid-area: aprendizado;
  }
  img {
    grid-area: imagem;
    width: 20rem;
    height: auto;
    align-self: flex-end;
    transform: translateY(tokens.$space-8);
    @media (max-width: 40rem) {
      justify-self: center;
    }
  }
  .etapas {
    grid-area: etapas;
  }
  ol {
    list-style: none;
    counter-reset: etapas;
    padding-left: 0;
  }
  ol li {
    counter-increment: etapas;
    display: flex;
    gap: tokens.$space-4;
    &:not(:last-child) {
      margin-bottom: tokens.$space-6;
    }
    &::before {
      content: counter(etapas);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0.5ex;
      width: 3rem;
      height: 3rem;
      background: colors.$main;
      color: colors.$neutral-light;
      border-radius: 50%;
      font-size: 1.5rem;
    }
  }
}

.obrigado {
  color: colors.$neutral-light;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-weight: 500;
    font-size: clamp(4.5rem, 10vw, 8rem);
    text-transform: uppercase;
    color: colors.$accent;
    line-height: 1;
    text-align: center;
    margin-bottom: tokens.$space-10;
  }
  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: tokens.$space-6;
  }
  .social-media {
    svg {
      width: 2rem;
      height: 2rem;
    }
    a {
      display: inline-flex;
      align-items: center;
      gap: 1ex;
    }
  }
}
