@use './colors.scss';
@use '../tokens.scss';

body {
  font-family: 'Anek Odia Variable', sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

strong {
  font-weight: 600;
}

big {
  font-size: 1.5rem;
  font-weight: 200;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: -2.8ex;
  margin-inline: -0.1ch;
  &.fluid {
    font-size: clamp(2rem, 8vw, 4rem);
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 0.25em;
  margin-inline: -0.05ch;
}

p {
  margin-bottom: 0.75em;
}

:focus-visible {
  outline-offset: 0.25em;
  outline-width: 2px;
  outline-color: #fbbc05;
  outline-style: dashed;
  padding-inline: 0.2em;
  margin-inline: -0.2em;
}

a {
  color: currentColor;
  text-underline-offset: 3px;
  border-radius: tokens.$space-2;
}
