@use 'sass:color';
@use './colors.scss';
@use '../tokens.scss';

.bg-main {
  background-color: colors.$main;
  h2 {
    color: color.adjust(colors.$main, $lightness: -15%, $saturation: -35%);
  }
  h3 {
    color: colors.$accent;
  }
}

.bg-accent {
  background-color: colors.$accent;
  h2 {
    color: color.adjust(colors.$accent, $lightness: -10%);
  }
  h3 {
    color: colors.$main;
  }
}

.bg-neutral {
  background-color: colors.$neutral-light;
  h2 {
    color: color.adjust(
      colors.$neutral-light,
      $lightness: -15%,
      $saturation: -35%
    );
  }
  h3 {
    color: colors.$main;
  }
}

.color-neutral {
  color: colors.$neutral-light;
}

.color-main {
  color: colors.$main;
}

.color-accent {
  color: colors.$accent;
}

.outline {
  border: var(--outline-width, 4px) solid var(--outline-color, #{colors.$main});
  border-radius: tokens.$space-5;
}

.flex-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: var(--list-gap, tokens.$space-6);
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}
