@use './colors.scss';
@use '../tokens.scss';

.header {
  --list-gap: #{tokens.$space-4};
  overflow: clip;
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    position: relative;
  }
  .logo {
    height: 6rem;
    position: absolute;
    left: 1.7ch;
    top: 0.2rem;
    transform: translateY(-100%);
  }
  .hero {
    width: 100vw;
    height: 100%;
  }
  .subtitle {
    margin-bottom: 2em;
  }
}
