@use './colors.scss';
@use '../tokens.scss';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: colors.$text;
}

big {
  --fluid-typography-min: 1.25rem;
  --fluid-typography-max: 2rem;
  font-size: 2rem;
  hyphens: none;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  color: colors.$main;
  line-height: 1;
  margin-bottom: tokens.$space-6;
}
