@use "./colors.scss";
@use "../tokens.scss";

.bg-main {
  background-color: colors.$main;
}

.bg-accent {
  background-color: colors.$accent;
}

.bg-neutral-teal {
  background-color: colors.$neutral-teal;
}

.bg-neutral-green {
  background-color: colors.$neutral-green;
}

.color-text {
  color: colors.$text;
}

.color-neutral {
  color: colors.$neutral-green;
}

.color-main {
  color: colors.$main;
}

.color-accent {
  color: colors.$accent;
}

.bg-dots {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    background: var(
      --background,
      linear-gradient(colors.$main, colors.$accent)
    );
    background: var(
      --background,
      linear-gradient(in oklch, colors.$main, colors.$accent)
    );
    mask: url("/dots.svg");
    mask-size: var(--density, 1rem);
    mask-repeat: round;
  }
}

.box {
  padding-inline: tokens.$space-6;
  padding-block: tokens.$space-8;
}

.page {
  width: 100%;
  min-height: 100dvh;
  overflow-x: clip;
}

.container {
  max-width: 64rem;
  margin-inline: auto;
  padding-inline: tokens.$space-6;
  padding-block: tokens.$space-8;
}

.hero-container {
  display: grid;
  grid-template-columns: var(--columns, 1fr 50%);
  max-width: 64rem;
  margin-inline: auto;
  min-height: 100dvh;
}

.flex-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: var(--list-gap, tokens.$space-6);
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-direction: var(--direction, row);
  gap: var(--gap, tokens.$space-5);
}

.fluid {
  font-size: clamp(
    var(--fluid-typography-min),
    4vmin,
    var(--fluid-typography-max)
  );
}

.padding-box {
  border-radius: tokens.$space-4;
  padding: tokens.$space-5;
}

*:has(.gradient-border) {
  isolation: isolate;
}

.gradient-border {
  position: relative;
  margin: var(--border-width, 4px);
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: calc(-1 * var(--border-width, 4px));
    border-radius: calc(tokens.$space-5 - var(--border-width, 4px));
    z-index: -1;
    background: var(
      --background,
      linear-gradient(colors.$main, colors.$accent)
    );
    background: var(
      --background,
      linear-gradient(in oklch, colors.$main, colors.$accent)
    );
  }
}
